.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    min-height: 100vh;
}

.container input {
    width: 300px;
}

.container a {
    color: #3333ff;
    
}

.container p{
    margin-top: 10px;
}

.container button {
    width: 300px;
}